@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply cursor-pointer hover:underline;
    }
    .button{
        @apply p-2  text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-400 active:from-yellow-500;
    }

    .checkout-product{
        @apply grid grid-cols-5 items-center mb-8;
    }

    .checkout-product-middle{
        @apply col-span-3 mx-8;
    }

    .minus-button{
        @apply text-xxl p-1  pt-0 pb-0.5;
    }

    .minus-button-sm{
        @apply p-1.5 text-xxl  pt-0 pb-0.5;
    }

}
